<div>
<div id="slider-wrapper">
    <div id="slider">
        <div id="slide1" class="slide">1</div>
        <div id="slide2" class="slide">2</div>
        <div id="slide3" class="slide">3</div>
    </div>
    <div id="progressBar"></div>
</div>




<!--<button id="playbtn">play from beginning</button>-->
<!--<button id="resumebtn">resume</button>-->
<!--<button id="pausebtn">pause</button>-->
<!--<button id="stopbtn">stop</button>-->
<!--<button id="restartbtn">restart</button>-->
<!--<button id="reversebtn">reverse</button>-->
</div>