<div>
<div id="slider-wrapper">
    <!--<md-button style="  position: absolute;-->
                <!--top: 0;-->
                <!--right:0;-->
                <!--z-index: 9;"-->
               <!--class="md-fab md-mini">-->
        <!--<md-icon md-svg-icon="modules/etc/img/checkMark.svg" style="color: #fff74f;" aria-label="Alarm Icon"></md-icon>-->
    <!--</md-button>-->

    <div id="slider">
        <div id="slide1" class="slide slideBackgroundImg">
            <!--<img class="slide_logo" style="height: 250px" src="modules/slide-show/img/logo/blLogo.png" aria-label="BarberLookLogo">-->
            <!--<div class="slide-title">Andis</div>-->
        </div>
        <div id="slide2" class="slide slideBackgroundImg">
            <!--<img class="slide_logo" style="height: 250px" src="modules/slide-show/img/logo/blLogo.png" aria-label="BarberLookLogo">-->
            <!--<div class="slide-title">Oster</div>-->
        </div>
        <div id="slide3" class="slide slideBackgroundImg">
            <!--<img class="slide_logo" style="height: 250px" src="modules/slide-show/img/logo/blLogo.png" aria-label="BarberLookLogo">-->
            <!--<div class="slide-title">Wahl</div>-->
        </div>
    </div>
    <div id="progressBar"></div>
</div>

<!--<button id="playbtn">play from beginning</button>-->
<!--<button id="resumebtn">resume</button>-->
<!--<button id="pausebtn">pause</button>-->
<!--<button id="stopbtn">stop</button>-->
<!--<button id="restartbtn">restart</button>-->
<!--<button id="reversebtn">reverse</button>-->
</div>