.expand-menu{
    position:absolute;
    width: 100%;
    min-height: 100px;
    top: 290px;
    background-color: #e5e9e8;
    display:none;
    z-index:9;
}
.subMenuExpanded{
    height:100%
}

.firstList{padding:10px;}

.secondList{padding:10px;}

.firstList li{
    list-style-type: none;
}

.secondList li {
    list-style-type: none;
}

.first-column{
    background-color: #ffb5c4;
}

.second-column{
    background-color: #f3d380;
}
