<section style="background-color: #000" data-ng-controller="AnimationTestController">
	<div style="padding: 50px; position: absolute; top: 17%">
        <div style="color: white;
            text-align: center;
            font-size: 45px;
            font-weight: bold;">
                Hello World</div>

        <div style="font-size:44px;
		  line-height:50px;
		  color:#dedede;
		  margin-top:25px;"
             id="quote">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</div>
        <br/>
        <md-button class="md-warn md-raised" ng-click="animate()">Next</md-button>
    </div>

	<canvas id="canvas" style="background-color: #000"></canvas>
</section>