<section data-ng-controller="EtcProductsController" data-ng-init="findOne()">

	<shop-cart hide-sm></shop-cart>


	<div layout="row" layout-sm="column" layout-align="start start">
		<md-button class="md-primary md-raised md-mini" ng-click="goToParent()">Back</md-button>

        <!--<h3 class="md-body-1">Andis > Clipper</h3>-->
	</div>


	<!--<div ng-controller="SizeUtil.sizeOfWidthController" class="size-util-sizeOfWidth">{{width}}px<br/> {{screen}}</div>-->

	<div layout="row" layout-sm="column" layout-align="center start">
		<!-- main product image -->
		<div layout="column" style="margin-left:8px; margin-right:4px;" flex-gt-sm="64" flex="100">
			<md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content" layout="column">
				<div style="padding:10px;">
					<img ng-src="{{etcProduct.image}}" class="card-image" alt="Washed Out">

					<!-- Thumbnail Picture-->
                    <div layout="row">
						<div class="thumbnail-container" ng-repeat="thumb in thumbNail track by $index">
                            <img class="card-image-thumbnail" ng-src="{{thumb.imageUrl}}" ng-click="clickThumbImage($index)">
                        </div>
						<!--<div class="thumbnail-container">-->
                            <!--<img class="card-image-thumbnail" src="https://barber-and-beauty.andis.com/images_and_docs/64850-ceramic-bgr+-clipper-bgr+-angle-thumb.png">-->
                        <!--</div>-->
						<!--<div class="thumbnail-container">-->
                            <!--<img class="card-image-thumbnail" src="https://barber-and-beauty.andis.com/images_and_docs/64850-ceramic-bgr+-clipper-bgr+-charger-thumb.png">-->
                        <!--</div>-->
					</div>
				</div>
			</md-whiteframe>

			<md-whiteframe hide-gt-sm class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content" layout="column">
				<div style="padding:10px;">
					<h1 class="md-title">{{etcProduct.price | currency}}</h1>

                    <h2 class="md-title"> {{etcProduct.name}} </h2>
                    <p class="md-body-2"> {{etcProduct.brand.name}} </p>

                    <div class="md-body-2">Overview</div>
					<div class="md-body-1">The zeiss VR ONE Virtual Reality Headset allows you to experience virtual or augemented reality -- </div>

				</div>
                <md-button ng-click="addCart()" class="md-primary md-raised wide-btn">Add to Cart</md-button>
			</md-whiteframe>
		</div>
		<!-- product sub info-->
		<div layout="column" hide-sm  style="margin-left:4px; margin-right:8px;" flex-gt-sm="34" flex="100">
			<md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content" layout="column">
				<div style="padding:10px;">
					<h1 class="md-title">{{etcProduct.price | currency}}</h1>
                    <h2 class="md-title"> {{etcProduct.name}} </h2>
                    <!--<p class="md-body-2"> {{etcProduct.brand.name}}</p>-->
					<!--<div class="md-body-2">Overview</div>-->
					<!--<div class="md-body-1">The zeiss VR ONE Virtual Reality Headset allows you to experience virtual or augemented reality &#45;&#45; </div>-->

					<!--<div layout="row" style="margin-top:14px">-->
						<!--<img ng-click="showDetail()" class="card-image-sm" src="http://thefancy-media-ec6.thefancy.com/commerce/original/20150513/cdecb6072c3b40deb3af33d9cfd86497.jpg">-->
						<!--<img ng-click="showDetail()" class="card-image-sm" src="http://thefancy-media-ec6.thefancy.com/commerce/original/20150513/cdecb6072c3b40deb3af33d9cfd86497.jpg">-->
					<!--</div>-->
				</div>
				<div layout="column" layout-align="center center" style="margin-bottom: 5px;">
                    <md-button ng-click="addCart()" class="md-primary md-raised wide-btn">Add to Cart</md-button>
                    <md-button ng-click="addCart()" class="md-warn md-raised wide-btn">Check Out</md-button>
                </div>
			</md-whiteframe>

			<md-whiteframe class="md-whiteframe-z2 meanT-home-card overview-content ob-underbar-base" layout="column">
				<div style="padding:10px;">
					<h1 class="md-title">Other things you might Fancy </h1>
					<p class="md-body-1">You also may like this items</p>
					<div layout="row" style="margin-top:14px">
						<img ng-click="showDetail()" class="card-image-sm" src="http://thefancy-media-ec6.thefancy.com/commerce/original/20150513/cdecb6072c3b40deb3af33d9cfd86497.jpg">
						<img ng-click="showDetail()" class="card-image-sm" src="http://thefancy-media-ec6.thefancy.com/commerce/original/20150513/cdecb6072c3b40deb3af33d9cfd86497.jpg">
					</div>
				</div>
			</md-whiteframe>
		</div>
	</div>

	<md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content" layout="column" style="margin-left: 8px; margin-right: 8px; padding:10px;">





		<h3 class="md-title" style="margin-left:10px;">Product Details</h3>

		<h3 class="md-title">Best for: Heavy duty for high-volume haircutting</h3>
        <p class="md-body-1">
            RECHARGEABLE:
            Powerful, cordless convenience
            Rotary Motor
            120V | 60Hz | MAX 3000SPM
            Rotary motor for heavy-duty use; perfect for removing weight and bulk.
            Professional power in cordless design.
            Ceramic blade runs cooler and stays sharper.
            20% lighter, 10% smaller and 15% faster than traditional clippers.
            Includes Sensa-Charge® for rapid charging.
            Works with all UltraEdge® and CeramicEdge® blades.
        </p>

        <div>
            <svg viewbox='0 0 800 400'>

                <defs>
                    <g id='arrow' transform='scale(.65)'>
                        <path d='M 15,-50 C 15,-50 -49,-13 8,30'/>
                        <path d='M -21,18 C -20,19 2,37 7,34 C 11,31 6,5 6,5'/>
                    </g>
                </defs>

                <line class='distance distance--helper' x1='100' y1='100' x2='200' y2='100'/>
                <line class='distance distance--helper' x1='100' y1='300' x2='200' y2='300'/>

                <rect class='reference-box' x='200' y='100' width='400' height='200'/>

                <line class='distance' x1='100' y1='250' x2='600' y2='250'/>
                <line class='distance' x1='100' y1='250' x2='200' y2='250'/>
                <line class='distance' x1='100' y1='250' x2='100' y2='100'/>
                <line class='distance distance--min' x1='100' y1='250' x2='100' y2='300'/>

                <circle id='target' class='path path--circular' cx='100' cy='250' r='50'/>

                <circle class='point point--central' cx='100' cy='250' r='5'/>
                <circle class='point point--edge' cx='600' cy='250' r='5'/>
                <circle class='point point--edge' cx='100' cy='100' r='5'/>
                <circle class='point point--edge' cx='200' cy='250' r='5'/>
                <circle class='point point--edge--min' cx='100' cy='300' r='5'/>

                <use class='arrow arrow--box' xlink:href='#arrow' transform='translate(450 78) rotate(105)'/>
                <use class='arrow arrow--min' xlink:href='#arrow' transform='translate(87 305)'/>
                <use class='arrow arrow--path' xlink:href='#arrow' transform='translate(170 240) rotate(-165)'/>

                <text x='310' y='87'>Box Open</text>
                <text x='100' y='335'>closest-side</text>
                <text x='135' y='205'>clipping path</text>

            </svg>
        </div>

        <p class="md-body-1">
        FEATURES
        Rotary motor for heavy-duty use; perfect for removing weight and bulk.
        Professional power in cordless design.
        Ceramic blade runs cooler and stays sharper.
        20% lighter, 10% smaller and 15% faster than traditional clippers.
        Includes Sensa-Charge® for rapid charging.
        Works with all UltraEdge® and CeramicEdge® blades.

        PRODUCT SPECIFICATIONS
        ModelBGR+
        Item Number64850
        UPC Code0 40102 64850 2
        Weight1.10 lbs.
        Length7.63 in.
        Body MaterialPolymer
        FinishMatte Black

        MOTOR
        TypeRotary
        Strokes per Minute3000 spm
        Volts120 V
        Frequency60 Hz

        BLADE
        Item Number64480
        NameCeramicEdge® Detachable Blade, Size 000
        TypeCeramicEdge™
        MaterialCarbon Steel

        PACKAGING SPECIFICATIONS
        Packaging TypeGift Box
        Height9.375 in.
        Width13.5 in.
        Depth4.5 in.
        Weight6.3 lbs.

        APPROVALS
        </p>
   	</md-whiteframe>

	<h3 class="md-title" style="margin-left:10px;">Review</h3>
    <div class="score-total"
         style="text-align: center;
            color:white;
            background: #0b5675;
            padding: 10px 0px;"
         layout="row" layout-align="space-around center" layout-padding layout-margin>
        <div>
            <span class="md-body-2">Review Score</span><br/>
            <span class="total-score grade" style="font-size: 26px;line-height: 80px;margin: 0px;padding: 0px;
                  background: #02a2ff;
                  color: white;
                  width: 80px;
                  height: 80px;
                  display: inline-block;
                  font-weight: bold;
                  -webkit-border-radius: 40px;
                  -moz-border-radius: 40px;
                  border-radius: 40px;">
                8.2
            </span>
        </div>
        <div>
            <span class="md-body-2">Reviews</span><br/>
            <span class="total-score grade" style="font-size: 26px;line-height: 80px;margin: 0px;padding: 0px;
                  background: #ffb24a;
                  color: white;
                  width: 80px;
                  height: 80px;
                  display: inline-block;
                  font-weight: bold;
                  -webkit-border-radius: 40px;
                  -moz-border-radius: 40px;
                  border-radius: 40px;">
                102
            </span>
        </div>
        <div>
            <span class="md-body-2">Delivery</span><br/>
            <span class="total-score grade" style="font-size: 26px;line-height: 80px;margin: 0px;padding: 0px;
                  background: #ff52c7;
                  color: white;
                  width: 80px;
                  height: 80px;
                  display: inline-block;
                  font-weight: bold;
                  -webkit-border-radius: 40px;
                  -moz-border-radius: 40px;
                  border-radius: 40px;">
                Free
            </span>
        </div>
    </div>
	<review-list></review-list>

	<!--<h3 class="md-title" style="margin-left:10px;">Review Write</h3>-->

    <!-- -->
	<!--<div layout="row" layout-sm="column" layout-align="center" style="margin-left:10px; margin-right:10px;">-->
        <!--<review-write></review-write>-->
	<!--</div>-->

</section>
