.slide_logo{
    display: inherit;
    margin-left: auto;
    margin-right: auto;

}

/*.slideBackgroundImg{*/
    /*background-image: url("../../modules/slide-show/img/homeLogo4.png") !important;*/
    /*background-repeat:no-repeat;*/
    /*background-position: center center;*/
/*}*/
