.slider-wrapper {
    width: 100%;
    height: 250px;
    /*background-color: #333;*/
    padding: 0px;
    margin: 0 0 0 0;
    position:relative;
}

#slider {
    width: 100%;
    height: 250px;
    /*background-color: #333;*/
    padding: 0px;
    margin: 0;
    position:relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    opacity:1;
    /*text-align:center;*/
    font-size:74px;
    font-weight:100;
    font-family:arial;
    color:#FFF;
}

#slide1 {
    /*background: #acfdff;*/
}

#slide2 {
    /*background: #52d3ff;*/
}

#slide3 {
    /*background: #5181ff;*/
}

#progressBar {
    position: absolute;
    top:0;
    left:0;
    z-index:100;
    width: 100%;
    height:5px;
    background: rgba(255,255,255,0.6);
}

.slide-title{
    width: 300px;
    text-align:center;
}