<section data-ng-controller="YdController as main" >

	<div> reviewBox </div>

	<div ng-repeat="yd in main.yds track by $index">
		{{yd.name}},
		<a href="#!/animation-test">Link</a>
		<div>Price</div>
		<div>location</div>
		<div>star star star star</div>
		<div>
			<img width="auto" height="200" src="http://www.ilbe.com/files/attach/new/20150705/646928/4515358510/6134987772/94a6a33edf8bd6994b04ae4ff200d49a.jpg">
			<img width="auto" height="200" src="http://www.ilbe.com/files/attach/new/20150705/646928/4755951901/6134867486/5c76f6edff7a2da443aa1aa181265095.jpg">
		</div>
	</div>

</section>