<section data-ng-controller="AdminController">
	<h3 class="md-title">Brand</h3>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Create">
                <md-content class="md-padding">
                    <brand-create></brand-create>
                </md-content>
            </md-tab>
            <md-tab label="List">
                <md-content class="md-padding">
                    <brand-list></brand-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <h3 class="md-title">Product</h3>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Create">
                <md-content class="md-padding">
                    <product-create></product-create>
                </md-content>
            </md-tab>
            <md-tab label="List">
                <md-content class="md-padding">
                    <product-list></product-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <h3 class="md-title">Payment</h3>
</section>