<md-content layout="column" data-ng-controller="WigsController">
    <shop-cart hide-sm></shop-cart>
    <md-content layout="row">

        <md-content flex layout="column">

            <slide-show-andis></slide-show-andis>
            <!--<slide-show-home></slide-show-home>-->
            <!--<slide-show-cust></slide-show-cust>-->

            <jumbo-menu></jumbo-menu>

            <div id="quote" style="font-size:44px; line-height:50px;">SplitText makes it easy to break apart the text in an HTML element so that each character, word, and/or line is wrapped in its own div tag.</div>
            <md-button class="md-primary" ng-click="splitText()">Animation</md-button>
            <h3 class="md-title" style="text-align: center">Search</h3>
            <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak>
                <md-content style="color:black;" layout-padding layout="column">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete
                                ng-disabled="ctrl.isDisabled"
                                md-no-cache="ctrl.noCache"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                md-search-text="ctrl.searchText"
                                md-selected-item-change="ctrl.selectedItemChange(item)"
                                md-items="item in ctrl.querySearch(ctrl.searchText)"
                                md-item-text="item.name"
                                md-min-length="0"
                                placeholder="Pick an Angular repository"
                                md-menu-class="autocomplete-custom-template">
                            <md-item-template>
                              <span class="item-title">
                                <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                                <span> {{item.name}} </span>
                              </span>
                              <span class="item-metadata">
                                <span class="item-metastat">
                                  <strong>{{item.watchers}}</strong> watchers
                                </span>
                                <span class="item-metastat">
                                  <strong>{{item.forks}}</strong> forks
                                </span>
                              </span>
                            </md-item-template>
                        </md-autocomplete>
                    </form>
                </md-content>
            </div>


            <h3 class="md-title" style="text-align: center">BEST SELLING</h3>
            <md-grid-list flex style="padding:20px; margin:20px;" class="gridListdemoBasicUsage"
                          md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                          md-row-height="1:1"
                          md-gutter="1px" md-gutter-gt-sm="2px" >

                <md-grid-tile flex="80"
                              flex-sm="100"
                              flex-md="100"
                              ng-repeat="content in etcProducts track by $index" ng-click="toGo(content)"
                              md-rowspan="1" md-colspan="1"
                              ng-mouseenter="hover = true"
                              ng-mouseleave="hover = false">

                    <span class="text-center" ng-class="{'text-button-hover': hover}">
                        <div class="text-button">{{content.price| currency:"$"}}</div>
                    </span>

                    <span class="thumbnail_container">
                        <div class="thumbnail">
                            <img ng-src="{{content.image}}" />
                        </div>
                    </span>

                    <!--<span style="width:100%">-->
                        <!--<img ng-show="isSuccessful" class="tileImg" ng-src="{{content.image}}">-->
                    <!--</span>-->

                    <md-grid-tile-footer style="  background: rgba(0, 0, 0, 0.67);">
                        <h3 >{{content.name}}</h3>
                        <!--{{content.price| currency:"$"}}-->
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>

            <h3 class="md-title" style="text-align: center">NEW ARRIVALS</h3>
            <md-grid-list flex style="padding:20px; margin:20px;" class="gridListdemoBasicUsage"
                          md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4"
                          md-row-height="4:3"
                          md-gutter="1px" md-gutter-gt-sm="2px" >

                <md-grid-tile flex="80"
                              flex-sm="100"
                              flex-md="100"
                              ng-repeat="content in etcProducts track by $index" ng-click="toGo(content)"
                              md-rowspan="1" md-colspan="1">
                    <span class="thumbnail_container">
                        <div class="thumbnail">
                            <img ng-src="{{content.image}}" />
                        </div>
                    </span>
                    <!--<img ng-show="isSuccessful" class="tileImg" ng-src="{{content.image}}">-->
                    <md-grid-tile-footer>
                        <h3 >{{content.name}}  {{content.price| currency:"$"}}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>


        </md-content>



    </md-content>
    <footer-info></footer-info>
</md-content>