<md-content layout="column" data-ng-controller="WigsController">
    <h3 class="md-title">Today's Deal</h3>
    <md-grid-list class="gridListdemoBasicUsage"
            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4"
            md-row-height="4:3"
            md-gutter="1px" md-gutter-gt-sm="2px" >
        <md-grid-tile
            ng-repeat="content in etcProducts" ng-click="toGo(content)"
            md-rowspan="1" md-colspan="1">
            <img class="tileImg" ng-src={{content.image}}>
            <md-grid-tile-footer>
                <h3 >{{content.name}}  {{content.price| currency:"$"}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>