<section data-ng-controller="CheckoutController as check">

	<!-- shop cart directive-->
	<shop-cart hide-sm></shop-cart>

	<div layout="column" layout-align="center start" style="max-width: 1058px;">
		<md-whiteframe
				flex="100"
				class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content"
				layout="column" layout-align="start start"
				style="width:100%">
			<div class="md-title">Shopping Cart</div>
		</md-whiteframe>

		<!-- List shopping cart items-->
		<md-whiteframe
				class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content"
				layout="column" layout-align="start start"
				style="width:100%"
				ng-repeat="item in check.items track by $index">
			<div layout="row" class="md-caption checkout-title" style="padding: 0 10px 0 10px; margin: 10px 10px 0 10px; width: 100%; text-align: center">
				<div flex="60" style="text-align:left;">Item</div>
				<div flex="12">Price</div>
				<div flex="12">Quantity</div>
				<div flex="12">Total</div>
			</div>
			<div layout="row" class="md-caption" style="  padding: 0 10px 0 10px; margin: 0 10px 10px 10px; width:100%; text-align: center">
				<div flex="60" layout="row">
					<span class="figure-img">
						<em class="figure-shadow"></em>
						<img ng-src="{{item.image}}">
					</span>
					<div style="margin:10px 0px 10px; padding: 10px; font-weight: bold;">
						{{item.name}}<br/>
						<md-button class="md-warn">+</md-button>
						<md-button class="md-warn">-</md-button>
						<md-button class="md-warn">remove</md-button>
					</div>
				</div>
				<div flex="12">
					<div style="margin:10px 0px 10px; padding: 10px 0 0 0;">
					{{item.price | currency}}
					</div>
				</div>
				<div flex="12">
					<div style="margin:10px 0px 10px; padding: 10px 0 0 0;">
					{{item.qnt}}
					</div>
				</div>
				<div flex="12">
					<div style="margin:10px 0px 10px; padding: 10px 0 0 0;">
					{{item.qnt * item.price | currency}}</div>
				</div>
			</div>
		</md-whiteframe>

		<md-whiteframe
				flex="100"
				class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content"
				layout="column" layout-align="start start"
				style="width:100%">
			<h1 class="md-title">Review</h1>

			<div>

				<div layout="row" layout-sm="column" layout-align="center center" layout-margin >
					<div style="width:100%" flex>
						<h2 class="md-title">Shipping Address</h2>
						<div layout="" layout-sm="column">
							<md-input-container flex="">
								<label>First name</label>
								<input ng-model="user.firstName">
							</md-input-container>
							<md-input-container flex="">
								<label>Last Name</label>
								<input ng-model="theMax">
							</md-input-container>
						</div>

						<md-input-container flex="">
							<label>Address</label>
							<input ng-model="user.address">
						</md-input-container>
						<md-input-container md-no-float="">
							<input ng-model="user.address2" placeholder="Address 2">
						</md-input-container>

						<div layout="" layout-sm="column">
							<md-input-container flex="">
								<label>City</label>
								<input ng-model="user.city">
							</md-input-container>
							<md-input-container flex="">
								<label>State</label>
								<input ng-model="user.state">
							</md-input-container>
							<md-input-container flex="">
								<label>Postal Code</label>
								<input ng-model="user.postalCode">
							</md-input-container>
						</div>
					</div>
					<div style="width:100%" flex>
						<h2 class="md-title">Billing Address</h2>
						<div layout="" layout-sm="column">
							<md-input-container flex="">
								<label>First name</label>
								<input ng-model="user.firstName">
							</md-input-container>
							<md-input-container flex="">
								<label>Last Name</label>
								<input ng-model="theMax">
							</md-input-container>
						</div>

						<md-input-container flex="">
							<label>Address</label>
							<input ng-model="user.address">
						</md-input-container>
						<md-input-container md-no-float="">
							<input ng-model="user.address2" placeholder="Address 2">
						</md-input-container>

						<div layout="" layout-sm="column">
							<md-input-container flex="">
								<label>City</label>
								<input ng-model="user.city">
							</md-input-container>
							<md-input-container flex="">
								<label>State</label>
								<input ng-model="user.state">
							</md-input-container>
							<md-input-container flex="">
								<label>Postal Code</label>
								<input ng-model="user.postalCode">
							</md-input-container>
						</div>
					</div>
				</div>
			</div>

			<h3 class="md-body-2">Total:</h3>
			<!-- Braintree Angular Version-->
			<div ng-controller="checkout">
				<form>
					<braintree-dropin options="dropinOptions">Loading payment form...</braintree-dropin>
					<md-button class="md-raised md-primary" type="submit">Buy for $14</md-button>
				</form>
				<!--<pre>{{result}}</pre>-->
			</div>
		</md-whiteframe>
	</div>

	<!--<footer-info></footer-info>-->

</section>