<section data-ng-controller="CheckoutController">

	<shop-cart hide-sm></shop-cart>


	<div layout="column" layout-align="center start" style="max-width: 1058px;">
		<md-whiteframe
				flex="100"
				class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content"
				layout="column" layout-align="start start"
				style="width:100%">
			<div class="md-title">Shopping Cart</div>
		</md-whiteframe>

		<md-whiteframe
				class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content"
				layout="column" layout-align="start start"
				style="width:100%">
			<div layout="row" class="md-caption" style="padding:10px; margin:10px; width:100%;">
				<div flex="60">Item</div>
				<div flex="12">Price</div>
				<div flex="12">Quantity</div>
				<div flex="12">Total</div>
			</div>
		</md-whiteframe>

		<md-whiteframe
				class="md-whiteframe-z2 meanT-home-card ob-underbar-base overview-content"
				layout="column" layout-align="start start"
				style="width:100%">
			<div layout="row" class="md-caption" style="padding:10px; margin:10px; width:100%; ">
				<div flex="60">Item</div>
				<div flex="12">Price</div>
				<div flex="12">Quantity</div>
				<div flex="12">Total</div>
			</div>
		</md-whiteframe>
	</div>

	<div>Shopping Cart</div>

	<div>Order from TopClipper</div>

	<div>Items</div>

</section>